@charset "utf-8";
@import url("main.css");
@media print{
	header{
		display:none;
	}
	body{ 
		background-color: white !important;
		color: black !important;
	}
	    h1, h2{
        text-shadow: none !important;
        color: black !important;
    }
    .cancelled, .departed {
        color: black !important;
    }
	tr:nth-child(odd){
		background-color: white !important;
	}
	tr:nth-child(even){
		background-color: white !important;
	}	
	th{
		color: black !important;
		background-color:white !important;
	}
	tr:nth-child(8) td:nth-child(3){
		background-color: white;
	}
}
@media screen{
	body{
		background: white url(../img/background.png)scroll no-repeat left top;
		background-size: auto;
		color: green !important;
	}
}
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
header{
	height: 150px;
	background-color:rgba(149, 165, 166, 0.8);
}
nav{
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 600px;
	top: 120px;
}
nav ul{
	background-color:pink;
	list-style: none;
	margin: 0;
	overflow: auto;
}
nav ul:hover{
	background-color:black;
}
nav li{
	height: 30px;
	margin-right: 10px;
	padding: 2px;
	float: left;
	background-color:white;
}
.menu a{
	text-decoration: none;
	background-color:lime;
}
nav li:hover{
	background-color:yellow;
}
.menu a:hover{
	text-decoration: none;
	background-color:blue;
	color:white;
}
h1, h2{
	color: purple;
	text-shadow: 2px 2px 8px #FF0000;
}
h1{
	font-size: 40px;
	text-transform: uppercase
}
h2{
	font-size: 30px;
}
article{
	padding: 20px;
}
#flight-statuses{
	margin-left: auto;
    margin-right: auto;
	width: 600px;
	border: 1px solid black;
	border-collapse: collapse;
	margin-bottom: 10px;
}
tr{
	line-height: 40px;
}
tr:nth-child(odd){
  background-color: white;
}
tr:nth-child(even){
  background-color: lightgray;
}
th{
	color: white;
	background-color:green;
}
td{
	padding-left: 10px;
	padding-right: 10px;
}
#flight-statuses tr:hover{
	background-color:yellow;
	border-bottom: 5px solid black;
	border-top: 5px solid black;
}
td.cancelled{
	color:red;
	font-weight: bold;
}
td.departed{
	color:blue;
}
td.departed::after{
	content: '\2708';
}
footer{
    margin-top: 10px;
}
